.classGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.classCell {
  position: relative; /* anchor for corners */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background: var(--bg);
  margin: 0.5rem 0.3rem;
  padding: 3rem 2rem;
  border-radius: 1rem;
  border: 2px solid var(--gold-dark);
  cursor: pointer;
}

.classCell {
  transition: box-shadow 0.2s ease, filter 1s, opacity 1s;
}

.classGrid:has(.classCell:hover) .classCell:not(:hover) {
  filter: blur(4px) grayscale(80%);
  opacity: 0.2;
  transition: filter 1s, opacity 1s;
  pointer-events: none;
}

.classCell:hover {
  box-shadow: 0 4px 16px 0 var(--gold-accent);
}

.classCell .iconWrapper {
  position: relative;
  margin: 0 auto;
}

.classCell .className {
  font-size: 1.2rem;
  margin-top: 2rem;
  color: var(--ink-dark);
}

/* decorative corners */

.classCell .corner {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid var(--gold-accent);
  border-radius: 3px;
}

.classCell .corner.topLeft {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

.classCell .corner.topRight {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}

.classCell .corner.bottomRight {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}

.classCell .corner.bottomLeft {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none;
}
