@import "./pulse.css";

.spellDiagram {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  padding: 2rem;
  opacity: 0.3;

  pointer-events: none;
  z-index: 1;
  overflow: hidden;

  /* hovering */
  &.highlighted {
    opacity: 0.6;
    transition: opacity 0.5s ease;
  }

  /* diagram to foreground */
  &.selected {
    opacity: 1;
    pointer-events: auto;
    z-index: 3; /* Above the class grid */

    transition: opacity 0.5s ease, z-index 0s;
  }
}

.spellDiagram .levelGroup {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.spellDiagram .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 0.5;
}

.spellDiagram .levelGroup .row:last-child {
  border-bottom: 2px solid var(--bg-dark);
}

.spellDiagram .levelGroup .row:first-child {
  border-top: 2px solid var(--bg-dark);
}

.spellDiagram .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--ink-light);
  opacity: 0.2;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.1);
  position: relative;

  &.highlighted {
    opacity: 1;
    background-color: white;
    border: 2px solid var(--accent, var(--gold-accent));
    box-shadow: 0 0 5px var(--accent, var(--gold-accent)),
      0 0 10px rgba(255, 255, 255, 0.3);

    transition: opacity 1s, background-color 1s;

    /* animation: pulse var(--randomDuration, 3s) ease-in-out
      var(--randomDelay, 1s) infinite; */
  }

  &.detailed {
    width: 40px;
    height: 40px;
    opacity: 1;
    background-color: var(--ink-medium);
    border: 2px solid var(--accent, var(--gold-accent));

    transition: width var(--randomDuration, 0.3s) ease var(--randomDelay, 1s), height var(--randomDuration, 0.3s) ease var(--randomDelay, 1s);

    & img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
