.spellDiagram {
  --border-width: 2px;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  padding: 2rem 6rem;

  pointer-events: none;
  overflow: hidden;

  &.background {
    z-index: var(--z-background);
    opacity: 0.3;
  }

  /* hovering */
  &.highlighted {
    opacity: 0.6;
    transition: opacity 0.5s ease;
  }

  /* diagram to foreground */
  &.selected {
    opacity: 1;
    pointer-events: auto;
    z-index: var(--z-foreground);
    transition: opacity 0.5s ease;
  }
}

.spellDiagram .levelGroup {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.spellDiagram .levelGroup .row:first-child {
  align-items: flex-end;
  margin-bottom: 0.7rem;
}

.spellDiagram .levelGroup .row:last-child {
  align-items: flex-start;
  margin-top: 0.7rem;
}

.spellDiagram .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 0.5;
}

.spellDiagram .levelGroup .row:first-child {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 1px;
    background: var(--bg-dark);
  }
}

/* last level separator */
.spellDiagram .levelGroup:last-child .row:last-child {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background: var(--bg-dark);
  }
}
