.spell {
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--ink-light);
  opacity: 0.2;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.1);

  &.highlighted {
    opacity: 1;
    border: 2px solid var(--accent, var(--gold-accent));
    box-shadow: 0 0 5px var(--accent, var(--gold-accent)),
      0 0 10px rgba(255, 255, 255, 0.3);
  }

  &.detailed {
    width: 32px;
    height: 32px;
    opacity: 1;
    border: 2px solid var(--accent, var(--gold-accent));
    background-color: var(--ink-medium);

    transition: width var(--randomDuration, 0.3s) ease var(--randomDelay, 1s),
      height var(--randomDuration, 0.3s) ease var(--randomDelay, 1s),
      background-color var(--randomDuration, 0.3s) ease var(--randomDelay, 1s),
      opacity var(--randomDuration, 0.3s) ease;

    & .image {
      position: relative; /* anchor to .upcast */

      & .icon {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }

      & .upcast {
        position: absolute;
        width: 16px;
        height: 16px;
        bottom: -5px;
        right: -5px;
        border-radius: 20%;
        object-fit: cover;
        background-color: var(--ink-medium);
      }
    }
  }
}
