:root {
  --bg: #f5f3eb;
  --bg-light: #fdf9f2;
  --bg-dark: #eddec2;
  --bg-texture: #2c181003;
  
  --ink-dark: #2c1810;
  --ink-medium: #4a3728;
  --ink-light: #7a6e67;

  --gold-accent: #d4af37;
  --gold-dark: #b8941f;
}
